# Normally loaded via netrc, but for CI:
#HEROKU_EMAIL=""
#HEROKU_API_KEY=""

# Can also provide CLOUDFLARE_EMAIL, CLOUDFLARE_API_KEY
CLOUDFLARE_API_TOKEN=""

# Prefer assuming a role to generating static credentials
AWS_PROFILE="nzsl"

# But for CI:
#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""

